/Bitmap/nbproject/private/
/RayTracing/nbproject/private/
/MultiThreadLibrary/nbproject/private/
/FileManagement/nbproject/private/
/FileSystem/nbproject/private/
/FileSystem/build/
/JOCLWrapper/build/
/JOCLWrapper/dist/
/JOCLWrapper/nbproject/private/